@import "tailwindcss";

@theme {
  --font-display: "Inter", "sans-serif";
  --color-primary: #3b82f6; 
}

:root {
  --background: #030712;
  --foreground: #f9fafb;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-display);
  overflow-x: hidden;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #030712;
}
::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #374151;
}
